body {
	background-color: black;
	color: white;
}

html,
body {
	height: 100%;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.slider {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 800px;
	margin: 0 auto;
	position: relative;

	.multi-slide-wrapper {
		display: flex;

		.multi-slide {
			background-size: cover;
			flex: 1 1 0px;
		}
	}

	.slide-content {
		background-color: #000;
		opacity: 0.8;
		color: white;
		display: inline-block;
		margin-top: 20px;
		padding: 20px;
		position: relative;
		z-index: 1;
	}

	.multi-slide-wrapper,
	.slide {
		background-size: cover;
		background-position: center;
		width: 100%;
		min-height: 650px;
		position: relative;
	}

	.arrow {
		position: absolute;
		z-index: 1;
		height: 100%;
		background: #000;
		color: white;
		border: none;
		opacity: 0.4;
		font-size: 42px;

		&:focus {
			outline: none;
		}

		&:hover,
		&:active {
			cursor: pointer;
			opacity: 0.7;
		}
	}

	.prev {
		left: 0;
	}
	.next {
		right: 0;
	}
}
